<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabla de Usuarios</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style>
        .table td,
        .table th {
            padding: 0.75rem;
            white-space: nowrap;
        }

        .icon-btn {
            border: none;
            background: none;
            padding: 0;
            margin: 0 5px;
            cursor: pointer;
        }

        .icon-btn i {
            font-size: 1.2em;
            color: #007BFF;
        }

        .table-responsive {
            overflow-x: auto;
        }

        .table thead th {
            white-space: nowrap;
        }

        .highlight-row {
            background-color: #f8f9fa;
        }

        .editable {
            display: none;
        }

        .editing .editable {
            display: inline;
        }

        .editing .non-editable {
            display: none;
        }

        .toggle-password {
            cursor: pointer;
        }

        .action-buttons {
            margin-bottom: 15px;
            text-align: left;
        }
    </style>
</head>

<body>
    <div class="container mt-5">
        <div class="action-buttons">
            <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#createModal">
                <i class="fas fa-plus"></i> Crear
            </button>
        </div>
        <div class="card">
            <div class="card-header">
                <h2><i class="fas fa-users table-icon"></i> Lista de Usuarios</h2>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped">
                    <thead class="table-dark">
                        <tr>
                            <th class="col-id"><i class="fas fa-id-badge table-icon"></i>ID User</th>
                            <th class="col-name"><i class="fas fa-user table-icon"></i>Username</th>
                            <th><i class="fas fa-building table-icon"></i>Company</th>
                            <th><i class="fas fa-user-tag table-icon"></i>Rol</th>
                            <th class="text-center"><i class="fas fa-tools table-icon"></i>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each users}}
                        <tr>
                            <td><span class="non-editable">{{this.user_id}}</span><input type="text"
                                    class="form-control editable" value="{{this.user_id}}" disabled></td>
                            <td><span class="non-editable">{{this.username}}</span><input type="text"
                                    class="form-control editable" value="{{this.username}}"></td>
                            <td>
                                <span class="non-editable">{{this.company_name}}</span>
                                <select class="form-control editable">
                                    {{#each ../companies}}
                                    <option value="{{this.company_id}}" {{#ifCond this.company_id
                                        ../this.company_id}}selected{{/ifCond}}>
                                        {{this.company_name}}</option>
                                    {{/each}}
                                </select>
                            </td>
                            <td>
                                <span class="non-editable">{{this.role_name}}</span>
                                <select class="form-control editable">
                                    {{#each ../roles}}
                                    <option value="{{this.role_id}}" {{#ifCond this.role_id
                                        ../this.role_id}}selected{{/ifCond}}>{{this.role_name}}
                                    </option>
                                    {{/each}}
                                </select>
                            </td>
                            <td class="text-center">
                                <button class="btn btn-primary btn-edit" title="Actualizar"
                                    data-user-id="{{this.user_id}}" data-username="{{this.username}}"
                                    data-company-id="{{this.company_id}}" data-role-id="{{this.role_id}}">
                                    <i class="fas fa-edit"></i>
                                </button>
                                <button class="btn btn-danger btn-delete" title="Eliminar"
                                    data-user-id="{{this.user_id}}">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Modal de Confirmación -->
    <div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmModalLabel">Confirmación</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ¿Seguro que quiere guardar los cambios?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" id="confirmSave">Guardar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal de Confirmación de Eliminación -->
    <div class="modal fade" id="deleteConfirmModal" tabindex="-1" aria-labelledby="deleteConfirmModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteConfirmModalLabel">Confirmación de Eliminación</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ¿Seguro que quiere eliminar el usuario con ID <span id="deleteUserId"></span>?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-danger" id="confirmDelete">Eliminar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal para Crear Usuario -->
    <div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createModalLabel">Crear Nuevo Usuario</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="createForm">
                        <div class="mb-3">
                            <label for="newUsername" class="form-label">Nombre de Usuario</label>
                            <input type="text" class="form-control" id="newUsername" required>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Contraseña</label>
                            <div class="input-group">
                                <input type="password" class="form-control" id="password" required>
                                <span class="input-group-text toggle-password" data-toggle="password">
                                    <i class="fas fa-eye"></i>
                                </span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="confirmPassword" class="form-label">Confirmar Contraseña</label>
                            <div class="input-group">
                                <input type="password" class="form-control" id="confirmPassword" required>
                                <span class="input-group-text toggle-password" data-toggle="confirmPassword">
                                    <i class="fas fa-eye"></i>
                                </span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="newCompanyName" class="form-label">Nombre de la Compañía</label>

                            {{#if (includes permisos 'modules')}}
                            <select class="form-control" id="company_id" disabled>
                                {{#each companies}}
                                <option value="{{this.company_id}}">{{this.company_name}}</option>
                                {{/each}}
                            </select>
                            {{else}}
                            <select class="form-control" id="company_id">
                                {{#each companies}}
                                <option value="{{this.company_id}}">{{this.company_name}}</option>
                                {{/each}}
                            </select>
                            {{/if}}
                        </div>
                        <div class="mb-3">
                            <label for="newRoleName" class="form-label">Rol</label>
                            <select class="form-control" id="rol_id">
                                {{#each roles}}
                                <option value="{{this.role_id}}">{{this.role_name}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Crear</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal para Editar Usuario -->
    <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">Editar Usuario</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="editForm">
                        <input type="hidden" id="editUserId">
                        <div class="mb-3">
                            <label for="editUsername" class="form-label">Nombre de Usuario</label>
                            <input type="text" class="form-control" id="editUsername" required>
                        </div>
                        <div class="mb-3">
                            <label for="editPassword" class="form-label">Contraseña Actual</label>
                            <div class="input-group">
                                <input type="password" class="form-control" id="Password">
                                <span class="input-group-text toggle-password" data-toggle="password">
                                    <i class="fas fa-eye"></i>
                                </span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="editPassword" class="form-label">Nueva Contraseña</label>
                            <div class="input-group">
                                <input type="password" class="form-control" id="editPassword">
                                <span class="input-group-text toggle-password" data-toggle="editPassword">
                                    <i class="fas fa-eye"></i>
                                </span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="editConfirmPassword" class="form-label">Confirmar Nueva Contraseña</label>
                            <div class="input-group">
                                <input type="password" class="form-control" id="editConfirmPassword">
                                <span class="input-group-text toggle-password" data-toggle="editConfirmPassword">
                                    <i class="fas fa-eye"></i>
                                </span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="editCompanyId" class="form-label">Nombre de la Compañía</label>
                            <select class="form-control" id="editCompanyId" disabled>
                                {{#each companies}}
                                <option value="{{this.company_id}}">{{this.company_name}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="editRoleId" class="form-label">Rol</label>
                            <select class="form-control" id="editRoleId">
                                {{#each roles}}
                                <option value="{{this.role_id}}">{{this.role_name}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Funcionalidad de editar
            document.querySelectorAll('.btn-edit').forEach(function (btn) {
                btn.addEventListener('click', function () {
                    var userId = btn.getAttribute('data-user-id');
                    var username = btn.getAttribute('data-username');
                    var companyId = btn.getAttribute('data-company-id');
                    var roleId = btn.getAttribute('data-role-id');

                    document.getElementById('editUserId').value = userId;
                    document.getElementById('editUsername').value = username;
                    document.getElementById('editCompanyId').value = companyId;
                    document.getElementById('editRoleId').value = roleId;

                    var editModal = new bootstrap.Modal(document.getElementById('editModal'));
                    editModal.show();
                });
            });

            // Funcionalidad de cancelar edición
            document.querySelectorAll('.btn-cancel').forEach(function (btn) {
                btn.addEventListener('click', function () {
                    var row = btn.closest('tr');
                    row.classList.remove('editing');
                });
            });

            // Funcionalidad de guardar cambios
            document.getElementById('editForm').addEventListener('submit', function (event) {
                event.preventDefault();
                var userId = document.getElementById('editUserId').value;
                var username = document.getElementById('editUsername').value;
                var password = document.getElementById('Password').value;
                var newPassword = document.getElementById('editPassword').value;
                var confirmPassword = document.getElementById('editConfirmPassword').value;
                var companyId = document.getElementById('editCompanyId').value;
                var roleId = document.getElementById('editRoleId').value;

                if (newPassword !== confirmPassword) {
                    alert("Las contraseñas no coinciden");
                    return;
                }

                fetch(`/users/updateUser/${userId}`, {
                    method: 'PUT',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ username, password, newPassword, companyId, roleId })
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.message === "Usuario actualizado con éxito") {
                            alert("Usuario actualizado con éxito");
                            window.location.reload();
                        } else {
                            alert("Error al actualizar el usuario: " + data.message);
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                        alert("Error al actualizar el usuario");
                    });
            });

            // Funcionalidad de eliminar
            document.querySelectorAll('.btn-delete').forEach(function (btn) {
                btn.addEventListener('click', function () {
                    var userId = btn.getAttribute('data-user-id');
                    var deleteUserIdSpan = document.getElementById('deleteUserId');
                    deleteUserIdSpan.textContent = userId;

                    var deleteConfirmModal = new bootstrap.Modal(document.getElementById('deleteConfirmModal'));
                    deleteConfirmModal.show();

                    document.getElementById('confirmDelete').onclick = function () {
                        fetch(`/users/deleteUser/${userId}`, {
                            method: 'DELETE',
                            headers: {
                                'Content-Type': 'application/json'
                            }
                        })
                            .then(response => response.json())
                            .then(data => {
                                if (data.message === "Usuario eliminado con éxito") {
                                    var row = btn.closest('tr');
                                    row.remove();
                                } else {
                                    alert("Error al eliminar el usuario: " + data.message);
                                }
                            })
                            .catch(error => {
                                console.error('Error:', error);
                                alert("Error al eliminar el usuario");
                            });
                        deleteConfirmModal.hide();
                    };
                });
            });

            // Funcionalidad de crear nuevo usuario
            document.getElementById('createForm').addEventListener('submit', function (event) {
                event.preventDefault();
                var newUsername = document.getElementById('newUsername').value;
                var password = document.getElementById('password').value;
                var confirmPassword = document.getElementById('confirmPassword').value;
                var newCompanyName = document.getElementById('company_id').value;
                var newRoleName = document.getElementById('rol_id').value;

                if (password !== confirmPassword) {
                    alert("Las contraseñas no coinciden");
                    return;
                }

                fetch('/users/createUser', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ company_id: newCompanyName, username: newUsername, password_hash: password, role_id: newRoleName })
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.message === "Usuario creado con éxito") {
                            var newRow = `
                            <tr>
                                <td><span class="non-editable">${data.user_id}</span><input type="text" class="form-control editable" value="${data.user_id}" disabled></td>
                                <td><span class="non-editable">${newUsername}</span><input type="text" class="form-control editable" value="${newUsername}"></td>
                                <td><span class="non-editable">${newCompanyName}</span><input type="text" class="form-control editable" value="${newCompanyName}"></td>
                                <td><span class="non-editable">${newRoleName}</span><input type="text" class="form-control editable" value="${newRoleName}"></td>
                                <td class="text-center">
                                    <button class="btn btn-primary btn-edit" title="Actualizar" data-user-id="${data.user_id}" data-username="${newUsername}" data-company-id="${newCompanyName}" data-role-id="${newRoleName}">
                                        <i class="fas fa-edit"></i>
                                    </button>
                                    <button class="btn btn-danger btn-delete" title="Eliminar" data-user-id="${data.user_id}">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        `;
                            document.querySelector('tbody').insertAdjacentHTML('beforeend', newRow);
                            var createModal = new bootstrap.Modal(document.getElementById('createModal'));
                            createModal.hide();
                            window.location.reload();
                        } else {
                            alert("Error al crear el usuario: " + data.message);
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                        alert("Error al crear el usuario");
                    });
            });

            // Toggle password visibility
            document.querySelectorAll('.toggle-password').forEach(function (toggle) {
                toggle.addEventListener('click', function () {
                    var input = document.getElementById(toggle.getAttribute('data-toggle'));
                    if (input.type === 'password') {
                        input.type = 'text';
                        toggle.innerHTML = '<i class="fas fa-eye-slash"></i>';
                    } else {
                        input.type = 'password';
                        toggle.innerHTML = '<i class="fas fa-eye"></i>';
                    }
                });
            });
        });
    </script>
</body>

</html>